*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate", serif;
}
nav div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(242, 235, 235, 0.947);
    font-weight: bold;
}
nav ul{
    display: flex;
    padding: 5px;
    gap: 60PX;
}
nav a:hover{
    color: rgb(19, 227, 15);
}   
nav h1{
    color: grey;
}
nav a.active{
    color: rgb(19, 227, 15);
    border-bottom: 2px solid  rgb(19, 227, 15);
    font-weight: bold;
}