*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate", serif;
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: large;
    background-color: #000;
    gap: 30px;
}
nav ul{
    display: flex;
    padding: 5px;
    gap: 60PX;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(242, 235, 235, 0.947);
    font-weight: bold;
}
nav a:hover{
    color: rgb(19, 227, 15);
}   
/* nav h1{
    color: #f4f4f4;
    font-size: 40px;
} */
.logo img{
    height: 60px;
    width: auto;
    padding: 5PX;
}
nav a.active{
    color: rgb(19, 227, 15);
    border-bottom: 2px solid  rgb(19, 227, 15);
    font-weight: bold;
}
.btn-login{
    padding: 10px 20px;
    background: rgb(19, 227, 15);
    border-radius: 10px;    
}
.btn-login a:hover{
    color: grey;
}
/* hero-section */
.browse_btn{
    padding: 10px 20px;
    background: rgb(19, 227, 15);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.browse_btn:hover{
    background-color: rgb(0, 172, 0);
}
.sell_btn{
    background: darkgrey;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.sell_btn:hover{
    background-color:grey;
}
.hero_text p{
    font-size: 20px;
    line-height: 1.3;
    margin: 0px 0px 10px;

}
.hero_text{
    margin: 30px 30px;
    font-size: large;
}
.hero{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    background: #F5F1E8;
    padding: 0px 10px;
    height: 300px;

}
.hero img{
    width: 100%;
    height: 70%;
    max-width: 550px;
    height: auto;
}
.hero h2{
    font-size: 40px;
}

/* ===Browse Books===*/
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 24px;
    margin-top: 30px;
}
.category-icon{
    text-align: center;
    cursor:pointer;
    transition: 0.3s;
}
.category-icon img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #eee;
    padding: 5px;
    object-fit: cover;
    margin-top: 10px;
}
.category-icon p{
    font-size: 14px;
    font-weight: bold;
    color: rgb(112, 108, 108);
}
.category-icon img:hover{
    transform:scale(1.1);
    border: 2px solid rgb(19, 227, 15);
}

/* ---Books-section---*/
.books_container{
    margin-top: 20px;
}
.books_container h2{
    margin: 10px 0px 10px 30px;
    font-size: 32px;
}
.books{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;
    padding: 20px 0px;
    place-items: center;
    border-top: 2px solid #E5E7EB;
}
.book-image img{
    width: 90%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 15px 40px rgba(0, 0, 0, 0.12);
}
.card button{
    background: #22C55E;
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.book-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}
.category {
    font-weight: bold;
}
.price{
    font-weight: bold;
}
.card button:hover{
    background: #15803D;
}
.posted-time{
    font-size: 14px;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Authentication */
.auth_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/auth_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.auth-box{
    background: rgba(255,255,255,0.18);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
form div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.auth-box h2{
    margin-bottom: 30px;
}
.auth-box label{
    width: 50px;
    height: 50px;
    background: #22C55E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}
.auth-box input{
    background: #ffff;
    border-radius: 0 10px 10px 0;
    border: 1px solid #ccc;
    flex: 1;
    height: 50px;
    padding: 0 15px;
    transition: 0.3s;
}
.auth-box input:focus{
    outline: none;
    border: 1px solid #22C55E;
    box-shadow: 0 0 8px rgba(34, 197, 94, 0.3);
}
.auth-box a{
    color: #22C55E;
    text-decoration: none;
}
.auth-box a:hover{
    color: #15803D;
    text-decoration: underline;
}
.auth-box button{
    background-color: #22C55E;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin:10px 0px 20px;
    width: 40%;
    cursor: pointer;
}
.auth-box button:hover{
    background-color: #15803D;
}
/* auth-nav */
.navbar {
    position: fixed; 
    top: 10px;            
    left: 20px;           
    width: 100%;     
    z-index: 1000;   
}
/*  */